body {
    weight: 400; 
    font-size: 16px; 
    font-family: 'Arial', sans-serif; 
    line-height: 1.6; display: block; 
    text-align: justify;
    background-color: var(#6495ed);
}
h3 {
    font-weight: 700; 
    font-size: 20px; 
}